@font-face {
	font-family: "Passero One";
	src: url(PasseroOne-Regular.ttf) format("truetype");
}
html{
	background:#fff url(images/bg.png) bottom left fixed repeat-x;
}
body{
	margin:2em auto 0;
}
body > *:not(footer){background-color:rgba(255,255,255,0.9);}
nav{
	margin-top:2em;
	text-align:center;
}
nav > a {
	font-family:"Passero One";
	font-size:24px;
	text-decoration:none;
	
	display:inline-block;
	padding:5px 10px;
	width:120px;
	
	background-color:#fff;
	color:#000;
	border:2px solid #000;
	
	transition: background-color .15s;
	-moz-transition: background-color .15s;
	-o-transition: background-color .15s;
	-webkit-transition: background-color .15s;
	-ms-transition: background-color .15s;
}

nav > a:hover {
	background-color:#fc2;
}

canvas{
	border:3px solid black;
	display:block;
	margin:auto;
	background:white;

	transition: width .15s;
	-moz-transition: width .15s;
	-o-transition: width .15s;
	-webkit-transition: width .15s;
	-ms-transition: width .15s;
}

strong, header{
	font-family:"Passero One";
}

header{
	text-align:center
}
section{padding:1em;max-width:480px;margin:auto;}
section + section{margin-top:1em;border-top:1px dashed #aaa;}
section > p{text-align:justify;}
section > p > img{vertical-align:middle;}